[Unit]
Description=Run apt update and full upgrade

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo /usr/bin/apt update
ExecStartPost=/usr/bin/sudo /usr/bin/apt full-upgrade -y

